includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    phpVersion: 80300

    paths:
        - app
        - database
        - routes
        - config

    tmpDir: storage/framework/cache/phpstan
    level: 7

    treatPhpDocTypesAsCertain: false

    scanDirectories:
        - app

    universalObjectCratesClasses:
        - Livewire\Component
        - Illuminate\Contracts\Container\Container

    excludePaths:
        - vendor
        - bootstrap
        - storage
        - database/factories
        - database/seeders
        - public

    reportUnmatchedIgnoredErrors: false
